/* Full-height to let the gradient fill the window */
html, body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to top,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.28) 20%,
    rgba(255, 255, 255, 0.01) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}
